<div class="category-wrapper">
  <a
    class="all {{ selectedKey === 'all' ? 'selected' : '' }}"
    (click)="select('all', 'all')"
    >All ({{ total }})</a
  >
  <ng-container *ngFor="let category of categorys; let i = index">
    <span
      class="group {{ selectedKey === category.id ? 'selected' : '' }}"
      (click)="select(category.id, 'group')"
    >
      <a>{{ category.name }} ({{ calcTotalCount(i) || 0 }})</a>
      <i
        class="toggle-expand"
        nz-icon
        [nzType]="category.expanded ? 'down' : 'right'"
        nzTheme="outline"
        (click)="$event.stopPropagation(); toggle(category)"
      ></i>
    </span>
    <ng-container
      *ngIf="category.children && category.children.length && category.expanded"
    >
      <span
        class="leaf {{ selectedKey === subCategory.id ? 'selected' : '' }}"
        *ngFor="let subCategory of category.children"
        (click)="select(subCategory.id, 'leaf')"
      >
        <a>{{ subCategory.name }} ({{ count[subCategory.id] || 0 }})</a>
      </span>
    </ng-container>
  </ng-container>
</div>
