<div class="header" *ngIf="!isMobile">
  <div class="logo">
    <img
      class="logo"
      src="/assets/images/shenghe-logo.png"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
    />
  </div>
  <div *ngIf="!showSearch || !canSearch" class="shenghe-menu">
    <ng-container *ngFor="let menu of menus">
      <a
        class="menu {{ menu.label }}"
        [routerLink]="[menu.link]"
        routerLinkActive="router-link-active"
        >{{ menu.label | translate }}</a
      >
      <div class="hover-extend" *ngIf="menu.label == 'Products'">
        <div class="hover-product">
          <div>
            <p>{{ "Outdoor" | translate }}</p>
            <div (click)="switchProduct('Floodlight')">
              <img src="/assets/images/home-img/Floodlight.jpg" />
              <p>{{ "Floodlight" | translate }}</p>
            </div>
            <!-- <div (click)="switchProduct('Garden Light')">
              <img src="/assets/images/home-img/Garden Light.png" />
              <p>{{ "Garden Light" | translate }}</p>
            </div> -->
          </div>
          <div>
            <p>{{ "Indoor" | translate }}</p>
            <div (click)="switchProduct('High-bay Light')">
              <img src="/assets/images/home-img/High-bay Light.png" />
              <p>{{ "High Bay Light" | translate }}</p>
            </div>
            <div (click)="switchProduct('Flat Panel')">
              <img src="/assets/images/home-img/Flat Panel.png" />
              <p>{{ "Flat Panel" | translate }}</p>
            </div>
            <div (click)="switchProduct('Ceiling Light')">
              <img src="/assets/images/home-img/Ceiling Light.jpg" />
              <p>{{ "Ceiling Light" | translate }}</p>
            </div>
            <div (click)="switchProduct('Wall Light')">
              <img src="/assets/images/home-img/Wall Light.png" />
              <p>{{ "Wall Light" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="menu-wrapper">
    <div class="search-and-language-wrapper">
      <div class="search-wrapper" *ngIf="canSearch">
        <i
          class="search"
          nz-icon
          [nzType]="showSearch ? 'close' : 'search'"
          nzTheme="outline"
          (click)="toggleSearch()"
        ></i>
        <input
          class="search-input {{ showSearch ? 'show-search' : '' }}"
          nz-input
          [(ngModel)]="searchValue"
          (keyup)="handleSearch($event)"
        />
      </div>
      <img
        class="lang-switch"
        [src]="language.icon"
        nz-dropdown
        [nzDropdownMenu]="menu"
        [nzOverlayClassName]="'language-switch'"
        nzTrigger="click"
      />
    </div>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li
        nz-menu-item
        *ngFor="let lang of languages"
        class="lang-li"
        (click)="switchLanguage(lang)"
      >
        <img [src]="lang.icon" width="28px" height="28px" /><span>{{
          lang.type
        }}</span>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
<div class="mobile-header" *ngIf="isMobile">
  <i
    class="menu"
    nz-icon
    [nzType]="showMenu ? 'close' : 'menu'"
    nzTheme="outline"
    (click)="showMenu = !showMenu"
  ></i>
  <div class="logo">
    <img
      class="logo"
      src="/assets/images/shenghe-logo.png"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      (click)="showMenu = false"
    />
  </div>
  <div class="mobile-menu" *ngIf="showMenu">
    <div class="mobile-search" *ngIf="canSearch">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          nz-input
          [(ngModel)]="searchValue"
          (keyup)="handleSearch($event)"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div class="mobile-menu-group">
      <ng-container *ngFor="let menu of menus">
        <div
          *ngIf="menu.label != 'Products'"
          class="mobile-menu-item {{ menu.label }}"
          [routerLink]="[menu.link]"
          routerLinkActive="router-link-active"
          (click)="showMenu = false"
        >
          {{ menu.label | translate }}
        </div>
        <nz-collapse *ngIf="menu.label == 'Products'">
          <nz-collapse-panel [nzHeader]="menu.label">
            <div
              (click)="switchProduct('Floodlight'); showMenu = false"
              class="sub-product-item"
            >
              {{ "Floodlight" | translate }}
            </div>
            <div
              (click)="switchProduct('Garden Light'); showMenu = false"
              class="sub-product-item"
            >
              {{ "Garden Light" | translate }}
            </div>
            <div
              (click)="switchProduct('High-bay Light'); showMenu = false"
              class="sub-product-item"
            >
              {{ "High-bay Light" | translate }}
            </div>
            <div
              (click)="switchProduct('Flat Panel'); showMenu = false"
              class="sub-product-item"
            >
              {{ "Flat Panel" | translate }}
            </div>
            <div
              (click)="switchProduct('Ceiling Light'); showMenu = false"
              class="sub-product-item"
            >
              {{ "Ceiling Light" | translate }}
            </div>
            <div
              (click)="switchProduct('Wall Light'); showMenu = false"
              class="sub-product-item"
            >
              {{ "Wall Light" | translate }}
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </ng-container>
    </div>
    <div
      class="mobild-lang-switch"
      nz-dropdown
      [nzDropdownMenu]="menu"
      nzTrigger="click"
    >
      <img [src]="language.icon" />
      <span>{{ language.lang }}</span>
      <i nz-icon nzType="down" nzTheme="outline"></i>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li
          nz-menu-item
          *ngFor="let lang of languages"
          class="lang-li"
          (click)="switchLanguage(lang)"
        >
          <img [src]="lang.icon" width="28px" height="28px" /><span>{{
            lang.type
          }}</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
