.header {
  height: 60px;
  padding: 0 15% 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px 0px #a8c6e0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1001;
  .shenghe-menu {
    height: 100%;
    > a {
      height: 100%;
      display: inline-block;
      line-height: 60px;
    }
  }
  > .logo {
    // width: 40%;
    margin-right: 16px;
    flex-shrink: 1;
    cursor: pointer;
    img {
      height: 44px;
    }
  }
  .menu-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    height: 100%;
    > div {
      height: 100%;
      display: flex;
      align-items: center;
      > a {
        height: 100%;
        line-height: 60px;
      }
    }
  }
  .menu {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 20px;
    white-space: nowrap;
  }
  .menu:hover {
    color: #a8c6e0;
  }
  .lang-switch {
    width: 28px;
    height: 28px;
    margin: 0 20px;
  }

  .search-wrapper {
    position: relative;
    .search {
      font-size: 20px;
      margin: 0 20px;
      position: relative;
      z-index: 2;
    }

    .search-input {
      position: absolute;
      width: 28px;
      height: 36px;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      padding: 2px 28px 2px 8px;
      padding-right: 28px;
      visibility: hidden;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &.show-search {
        width: 500px;
        visibility: visible;
      }
      transition: width 0.5s;
    }
  }
}

::ng-deep {
  .lang-li > img {
    margin-right: 8px;
  }

  .lang-li span {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
  }

  .language-switch {
    margin-top: 24px !important;
  }
}

.hover-extend {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1001;
  width: 100%;
  &:hover {
    display: block;
  }
}

.menu.Products:hover + .hover-extend {
  display: block;
}

.hover-product {
  display: flex;
  flex-direction: column;
  padding-left: 25% !important;
  // align-items: center;
  padding: 16px 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  & > div {
    > p {
      font-size: 16px;
      font-weight: 400;
      color: rgba(38, 38, 38, 1);
      margin-bottom: 8px;
    }
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    > div {
      display: flex;
      align-items: flex-start;
      align-items: center;
      padding-left: 8px;
      margin-bottom: 8px;
      cursor: pointer;
      > img {
        width: 48px;
        height: 48px;
        & + p {
          padding-left: 8px;
          font-size: 12px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.87);
          margin-bottom: 0;
        }
      }
    }
  }
}

.mobile-header {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1001;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  .menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    font-size: 18px;
  }
  .logo {
    img {
      height: 20px;
    }
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: calc(~"100vh - 48px");
  background-color: #fff;
  z-index: 999;
  top: 48px;
  .mobile-search {
    padding: 12px 20px 8px;
    ::ng-deep {
      .ant-input {
        height: 40px;
        background-color: rgba(244, 245, 247, 1);
        border: none;
        font-size: 18px;
        &:focus {
          border: none;
          box-shadow: none;
        }
      }
      .ant-input-suffix {
        font-size: 18px;
        color: #000;
      }
    }
  }
  .mobile-menu-group {
    .mobile-menu-item {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      padding: 10px 0 10px 20px;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    }
    ::ng-deep {
      nz-collapse {
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
        .ant-collapse {
          border: none;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          background-color: #fff;
        }
        .ant-collapse > .ant-collapse-item {
          border: none;
        }
        .ant-collapse > .ant-collapse-item > .ant-collapse-header {
          padding: 10px 20px;
          line-height: 20px;
        }
        .ant-collapse
          > .ant-collapse-item
          > .ant-collapse-header
          .ant-collapse-arrow {
          right: 20px;
          left: auto;
        }
        .sub-product-item {
          padding: 10px 0 10px 40px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.87);
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
        .ant-collapse-content > .ant-collapse-content-box {
          padding: 0;
        }
      }
    }
  }
  .mobild-lang-switch {
    padding: 27px 0 27px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    img {
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
    }
    i {
      margin-left: 8px;
    }
  }
}
@media (max-width: 767.98px) {
  ::ng-deep {
    .cdk-overlay-container {
      z-index: 1001;
    }
  }
}
