.header {
  height: 60px;
  padding: 0 10% 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1001;
  > .logo {
    width: 40%;
    flex-shrink: 1;
    cursor: pointer;
    img {
      height: 34px;
    }
  }
  .menu-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    > div {
      display: flex;
      align-items: center;
    }
  }
  .menu {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 20px;
    white-space: nowrap;
  }

  .lang-switch {
    width: 28px;
    height: 28px;
    margin: 0 20px;
  }

  .search-wrapper {
    position: relative;
    .search {
      font-size: 20px;
      margin: 0 20px;
      position: relative;
      z-index: 2;
    }

    .search-input {
      position: absolute;
      width: 28px;
      height: 36px;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      padding: 2px 28px 2px 8px;
      padding-right: 28px;
      visibility: hidden;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &.show-search {
        width: 500px;
        visibility: visible;
      }
      transition: width 0.5s;
    }
  }
}

::ng-deep {
  .lang-li > img {
    margin-right: 8px;
  }

  .lang-li span {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
  }
}
