<div class="aboutus-wrapper">

    <!-- <nz-tabset class="news-tab-switch">
      <nz-tab class="tab-text" nzTitle="All">
        Content of Tab Pane 1
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Products">
        Content of Tab Pane 2
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Services">
        Content of Tab Pane 3
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Activities>
        Content of Tab Pane 4
      </nz-tab>
    </nz-tabset> -->


<!-- //以下是About页面的原始内容 -->
  <p class="aboutus-title-top">{{'About Us' | translate}}</p>
    <p class="aboutus-sutitle">{{'We are dedicated to offering our customers high quality, cost-efficient products by the partnership on OEM and ODM solutions based on deep understanding of local market needs.' | translate}}</p>
    <div class="divide-line"></div>
    <div class="aboutus-content">
        <div class="part-one">
            <p class="paragraph-title">{{'Our Company' | translate}}</p>
            <p class="paragraph-text">{{'Larix Lighting has been committed to design and manufacture of market-oriented LED outdoor lighting products, from commercial to residential to industrial markets.' | translate}} </p>
            <p class="paragraph-text">{{'We are focusing on providing the superior product solutions with modern design and technology to our OEM and ODM customers. As a reliable ODM and OEM partner boasting years of manufacture expertise and passion for innovation, Larix lighting provides high quality and cost-efficient products and service to brand owners with our well-managed manufacturing facilities, stringent testing system, and engineering capabilities based in China.' | translate}} </p> 
            <p class="paragraph-text">{{'Furthermore, our newly facility in Cambodia is under construction and will kick off operation from April, 2020 in order to meet ever-increasing capacity requirement from the market as well as provide tariff advantages to our USA customers.' | translate}}</p>
        </div>
        <div class="part-one">
            <p class="paragraph-title">{{'Our Products' | translate}}</p>
            <p class="paragraph-text">{{'As one of the first movers into LED technology in the industry, Larix lighting offers an extensive line of state-of-art technology, quality and design patent certified outdoor LED luminaires, especially the flood lighting and wallpack family developed for North America market.' | translate}}</p>
            <p class="paragraph-text">{{'Our products are designed based on our deep insight in customer’s local market, even the details are captured by our professional and experienced designer and engineering team. The new generation lighting fixtures targeted to US market are with more efficient and healthy LED lighting technology with more slim and elegant size.' | translate}}</p>
        </div>
        <div class="part-one">
            <p class="paragraph-title">{{'Our Services' | translate}}</p>
            <p class="paragraph-text">{{'Against the background that China’s annual export value of LED lighting products is as high as 14.93 billion US dollars, there are huge manufacturers in LED Lighting industries in mainland China with providing products with different levels of quality.' | translate}}</p>  
            <p class="paragraph-text">{{'However, with our expertise in lighting industry, Larix lighting have accumulated strong power in quality & cost control so as to provide customers high quality lighting products with competitive price and short and flexible lead time, which makes us a lighting manufacturer you can rely on by confidence.' | translate}}</p> 
            <p class="paragraph-text">{{'Besides our own solutions for our existing product line, Larix lighting can also offer one-stop customized OEM and ODM solution services across the entirety of the product life cycle: definition, design, alteration, development, production, testing and delivery, and MOQ is also flexible to meet customers of different size. We are ready to reply promptly and accurately to your inquiries.' | translate}} </p>
        </div>
        <div class="part-one">
            <p class="paragraph-title">{{'Our Philosophy' | translate}}</p>
            <p class="paragraph-text">{{'We are dedicated to offering our customers high quality, cost-efficient products by the partnership on OEM and ODM solutions based on deep understanding of local market needs. We want to be the customer’s partner not just a contract manufacturer, but also would like to grow together with customers to co-seize business opportunities in the market. We look forward to building long-term partnership with customers globally!' | translate}}</p>
        </div>
    </div>
</div>
