.aboutus-wrapper {
    padding: 40px 0;
  }
.aboutus-title-top {
    width: 912px;
    margin: 0px auto ;
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    font-weight: bold;
    color: #000000;
}
.aboutus-sutitle {
    font-size: 20px;
    text-align: center;
    width: 912px;
    margin: 0 auto;
    line-height: 24px;
}
.divide-line {
    width: 912px;
    height:1px;
    margin: 24px auto;
    background-color: #E5E5E5;
}
.aboutus-content {
    width: 912px;
    margin: 0 auto;
}
.paragraph-title {
    text-align: left;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0px;
}
.paragraph-text {
    font-size: 14px;
    display: inline-block;
    text-align: justify;
    margin-bottom: 8px;
}


@media (max-width: 767.98px) {
    .aboutus-title-top {
        width: 100%;
        font-size: 36px;
    }
    .aboutus-sutitle {
        width: 100%;
    }
    .aboutus-wrapper {
        padding: 24px 16px;
    }
    .divide-line {
        width: 100%;
    }
    .aboutus-content {
        width: 100%;
    }
}


// .news-tab-switch {
//     margin: 32px auto; 
//     width: 960px;
// }
// .ant-tabs-nav-scroll {
//     display: flex;
//     align-items: center;

// }
// .ant-tabs-nav {
//     text-align: center;
//     margin: 0 auto;
// }
// .tab-text:active {
//     color: #5b7b33 !important;
// }
// .tab-text:hover {
//     color: #5b7b33 !important;
// }