<div class="aboutus-wrapper">

    <!-- <nz-tabset class="news-tab-switch">
      <nz-tab class="tab-text" nzTitle="All">
        Content of Tab Pane 1
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Products">
        Content of Tab Pane 2
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Services">
        Content of Tab Pane 3
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Activities>
        Content of Tab Pane 4
      </nz-tab>
    </nz-tabset> -->


<!-- //以下是About页面的原始内容 -->
  <p class="aboutus-title-top">{{'About Us' | translate}}</p>
    <p class="aboutus-sutitle">{{'We are dedicated to offering our customers high quality, cost-efficient products and OEM/ODM solutions based on deep understanding on market needs.' | translate}}</p>
    <div class="divide-line"></div>
    <div class="aboutus-content">
        <div class="part-one">
            <p class="paragraph-title">{{'Our Company' | translate}}</p>
            <p class="paragraph-text">{{'Larix Lighting has been committed to design and manufacture of customer-centric outdoor LED lighting products to industrial, commercial, residential and ODM/OEM markets.' | translate}} </p>
            <p class="paragraph-text">{{'As a reliable ODM/OEM partner boasting 10+ years of manufacture expertise and passion for innovation, Larix lighting provide high quality and cost-efficient products and service to brand owners with our world-class manufacturing facilities, stringent testing system, and engineering capabilities based in Ningbo, China----the core production base of die-cast aluminum lighting products.' | translate}} </p> 
            <p class="paragraph-text">{{'Furthermore, our newly invested manufacture base in Cambodia is now under construction and will be put into use by next year in order to meet ever-increasing capacity requirement from the market as well as provide tariff advantages to our overseas customers.' | translate}}</p>
        </div>
        <div class="part-one">
            <p class="paragraph-title">{{'Our Products' | translate}}</p>
            <p class="paragraph-text">{{'As one of the of the first movers into LED technology in the industry, Larix lighting offers an extensive line of state-of-art technology, quality and design patent certified outdoor LED lamps and luminaires, especially the Flood Lighting/Wall Mount families developed for North America and Latin America market. Most Larix LED products are LM-80 tested, UL listed and CE, Design Lights Consortium® (DLC) certified.' | translate}}</p>
            <p class="paragraph-text">{{'Our products are designed based on deep insight in customer’s local market, even the details are captured by our professional and experienced technical team. For example, one of our new generation lighting fixtures targeted to US market --FWS wall packs family is made thinner and lighter on its backboard by virtue of the latest manufacturer technique which not only save the cost but also become easier to install. But considering when customer replaces wall lamps, the wall area covered by old lamp would be fresher color than the rest area faded after exposing to weather for years, we remain the same size of the backboard in developing new wall packs as the old ones to avoid color difference on the wall after replacement even though we can make the size smaller.' | translate}}</p>
        </div>
        <div class="part-one">
            <p class="paragraph-title">{{'Our Services' | translate}}</p>
            <p class="paragraph-text">{{'Against the background that China’s annual export value of LED lighting products is as high as 14.93 billion US dollars, there are quite a few manufactures in LED Lighting industries in mainland China of different levels, most of which are not satisfying to those customers who require reliable quality and guarantee.' | translate}}</p>  
            <p class="paragraph-text">{{'However, after more than 10 years in lighting manufacturer industry, Larix lighting have accumulated strong power in quality & cost control so as to provide customers high quality lighting products with competitive price and short time delivery, which makes us a lighting manufacturer you can depend on.' | translate}}</p> 
            <p class="paragraph-text">{{'Besides our own tooling for our existing product line, Larix lighting can also offer one-stop customized ODM/OEM solution services across the entirety of the product life cycle: definition, design, alteration, development, production, testing and delivery, and MOQ is also flexible to meet customers of different size. In addition, we own our U.L., CE and TUV files used for the International market and all of our products comply with these strict standards. We are ready to reply promptly and accurately to your inquiries.' | translate}} </p>
        </div>
        <div class="part-one">
            <p class="paragraph-title">{{'Our Philosophy' | translate}}</p>
            <p class="paragraph-text">{{'We are dedicated to offering our customers high quality, cost-efficient products and OEM/ODM solutions based on deep understanding on market needs. We want to be the customer’s partner not just a contract manufacturer and would like to grow together with customers to seize business opportunities in the market. We look forward to building long-term partnership with customers globally!' | translate}}</p>
        </div>
    </div>
</div>
