<div class="aboutus-wrapper">
  <!-- <nz-tabset class="news-tab-switch">
      <nz-tab class="tab-text" nzTitle="All">
        Content of Tab Pane 1
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Products">
        Content of Tab Pane 2
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Services">
        Content of Tab Pane 3
      </nz-tab>
      <nz-tab class="tab-text" nzTitle="Activities>
        Content of Tab Pane 4
      </nz-tab>
    </nz-tabset> -->

  <!-- //以下是About页面的原始内容 -->
  <p class="aboutus-title-top">{{ "About us" | translate }}</p>
  <div class="content-and-timeline-container">
    <div class="aboutus-content">
      <div class="part-one">
        <p class="paragraph-text">
          {{
            "Founded in 1997, Ningbo Shenghe Lighting Co., Ltd. has witnessed the integration and deepening of China's lighting industry and the world's lighting industry chain. Through 22 years of market exploration, we have established a leading position in China's outdoor lighting industry."
              | translate
          }}
        </p>
        <p class="paragraph-text">
          {{
            "Strong technical development ability and rich development experience, advanced production and quality assurance system and testing equipment enabled us to be the leading enterprise in Zhejiang. We always adhere to the specific practice of \"put people first\" and the market orientation of \"customer first\", which helped us to obtain SA8000 certification with strong social responsibilities. We have provided OEM and ODM services for many premium lighting brands (e.g. iGuzzini) in European and American markets by growing together with customers. With an annual turnover of about US $60 million, Shenghe has become one of the largest outdoor lighting exporters in China."
              | translate
          }}
        </p>
        <p class="paragraph-text">
          {{
            "We keep improving our ability to deliver customer value:"
              | translate
          }}
        </p>
        <p class="paragraph-text">
          {{
            "1. Quality: By adopting ISO9000 quality assurance system and of the concept of \"quality first\", we provide customers with reliable products and service."
              | translate
          }}
        </p>
        <p class="paragraph-text">
          {{
            "2. Cost: We have established a flexible, complete and fast response supply chain management system. So we can provide our customers with better cost advantages, especially in large-scale purchase."
              | translate
          }}
        </p>
        <p class="paragraph-text">
          {{
            "3. Delivery time: Our location is close to the deep-water port - Ningbo Beilun port at the coast of East China Sea, a very advantageous geographical location that effectively shortens our delivery cycle and ensures our commitment of 4-week delivery time."
              | translate
          }}
        </p>
        <p class="paragraph-text">
          {{
            "4. Innovation: Our independently and creatively designed products won Red dot, design plus (European Design Award), IF and many other awards and got international acclaim. We have a strong team of engineers in electronics, optics, machinery, and thermology, and standardized large-scale laboratories . We have the product integrated development (IPD) mode from R & D, production, and testing to carry out effective product life cycle management."
              | translate
          }}
        </p>
        <p class="paragraph-text">
          {{
            "5. Informatization: Through PLM management, project cost can be better controlled; OA system can maximize work efficiency and quality, and improve work environment. Through information technology, we can meet more personalized and diversified production needs, achieve the synchronization of design chain and supply chain, serve customers faster and better and create a new production mode in line with the market rules at the forefront of the market."
              | translate
          }}
        </p>
        <img src="/assets/images/home-img/home-aboutus-pic.png" />
        <p class="paragraph-text">
          {{
            "At present, Shenghe boasts nearly 20 years experience in OEM and ODM and providing lighting solutions, and continues to upgrade customer experience in lighting industry to meet market challenges. With outdoor lighting as our main focus and in the principle of making perfection more perfect, we keep up with the pace of the times, fully integrate design and production, sales and service, fashion and innovation, personality and human nature, carry forward the enterprise spirit of working together with one heart, striving for the first-class, making continuous and vigorous efforts and never giving up. We welcome lighting enterprises from both at home and abroad. We will sincerely cooperate with you with full enthusiasm and confidence to create a first-class reputation and brands, and work together for a harmonious and win-win result. "
              | translate
          }}
        </p>
        <img src="/assets/images/aboutus-img/aboutus-honor-pic.png" />
      </div>
    </div>

    <div class="aboutus-timeline">
      <div class="timeline-item" date-is="2019">
        <h1>{{ "We set up factories abroad" | translate }}</h1>
      </div>
      <div class="timeline-item" date-is="2018">
        <h1>{{ "We won the title of National High-tech enterprise" | translate }}</h1>
      </div>
      <div class="timeline-item" date-is="2018">
        <h1>
          {{
            "iJoy lighting won Red Dot, IF, Good Design and other awards"
              | translate
          }}
        </h1>
      </div>
      <div class="timeline-item" date-is="2017">
        <h1>
          {{ "We launched our independent brand \"iJoy lighting\"" | translate }}
        </h1>
      </div>
      <div class="timeline-item" date-is="2016">
        <h1>
          {{
            "Shenghe professional photoelectric laboratory was founded"
              | translate
          }}
        </h1>
      </div>
      <div class="timeline-item" date-is="2015">
        <h1>{{ "We comprehensively adopted Lean production" | translate }}</h1>
      </div>
      <div class="timeline-item" date-is="2004-2007">
        <h1>
          {{ "We started full cooperation with iGuzzini" | translate }}
        </h1>
      </div>
      <div class="timeline-item" date-is="2005">
        <h1>{{ "We implemented 5S management" | translate }}</h1>
      </div>
      <div class="timeline-item" date-is="2003">
        <h1>
          {{
            "We won the honor of advanced enterprise in quality management from Zhejiang Municipal Small and Medium Enterprises Bureau"
              | translate
          }}
        </h1>
      </div>
      <div class="timeline-item" date-is="2001">
        <h1>
          {{
            "We obtained ISO9001 quality management system certification"
              | translate
          }}
        </h1>
      </div>
      <div class="timeline-item" date-is="1997">
        <h1>
          {{ "Ningbo Shenghe Lighting Co., Ltd. was established" | translate }}
        </h1>
      </div>
    </div>
  </div>
</div>
