<div class="contact-wrapper">
  <p class="contact-title-top">{{'Contact Us' | translate}}</p>
  <div class="contact-content">
    <div class="contact-info-content">
      <div class="contact-info-details">
        <div class="title-HoursOfOperation">
          <p>
            <span>{{'Hours of Operation:' | translate}}</span> &nbsp; 09:00-18:00 <br />
            ({{'Monday - Friday' | translate}})
          </p>
        </div>
        <div class="title-Tel">
          <p><span>{{'Tel:' | translate}}</span> &nbsp; +855 88 886 3888</p>
        </div>
        <div class="title-Email">
          <p><span>{{'Email:' | translate}}</span> &nbsp; sales@larixlighting.com</p>
        </div>
        
        <div class="title-Address">
          <p>
            <span>{{'Address:' | translate}}</span> 
            &nbsp; {{'National Road No.4, Svay Chrum, Beckchan Commune, Angsnoul District, Kandal Province, NR4, Phnom Penh, Cambodia' | translate}}
          
            <!-- {{'Room 204, Block A, No. 303,' | translate}}<br />
            {{'Shangzhong Road, Xuhui District, Shanghai,' | translate}}<br />
            {{'China' | translate}} -->
          </p>
        </div>
      </div>
      <div class="contact-map">
        <a href="https://goo.gl/maps/rrEYdd3ei8tY2UHf6"
          ><img src="/assets/images/contact-img/Google-map site.jpg"
        /></a>
      </div>
    </div>
    <div class="contact-form-content">
      <p class="fisrt-text-info">
        {{'Thank you for your interest. For questions or comments, please use the
        information listed here. We look forward to hearing from you soon.
        Distributors welcome.' | translate}}
      </p>
      <div class="contact-input-group">
        <form class="contact-form-inputs">
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'First Name *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.firstName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="input-group-item">
              <p>{{'Last Name *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.lastName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'E-mail *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.email"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="input-group-item">
              <p>{{'Phone *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.telephone"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'Company' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.company"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="input-group-item">
              <p>{{'Position' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.position"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="input-group-item">
            <p>{{'Comments *' | translate}}</p>
            <textarea
              rows="10"
              cols="30"
              [(ngModel)]="contactInfo.comments"
              [ngModelOptions]="{ standalone: true }"
            >
            </textarea>
          </div>
          <div class="contact-submit-button">
            <button type="button" (click)="contact()">{{'Contact Us' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
