<div class="contact-wrapper">
  <p class="contact-title-top">{{'Contact Us' | translate}}</p>
  <div class="contact-content">
    <div class="contact-info-content">
      <div class="contact-info-details">
        <div class="title-Tel">
          <p>
            <span dir='ltr'>{{'Tel:' | translate}}</span> &ensp; +86-0574-6578-2991 <br />
            ({{'Monday - Friday 09:00-18:00' | translate}})
          </p>
        </div>
        <div class="title-Fax">
          <p><span dir='ltr'>{{'Fax:' | translate}}</span> &ensp; +86-0574-6578-3777</p>
        </div>
        <div class="title-Email">
          <p><span dir='ltr'>{{'Email:' | translate}}</span> &ensp; sales@shenghe.com</p>
        </div>
        
        <div class="title-Address">
          <p>
            <span dir='ltr'>{{'Address:' | translate}}</span> 
            &ensp; {{'No.311 Penglai Road, Economic Development Zone, Xiangshan Town, Ningbo City, Zhejiang Province, China' | translate}}
          
            <!-- {{'Room 204, Block A, No. 303,' | translate}}<br />
            {{'Shangzhong Road, Xuhui District, Shanghai,' | translate}}<br />
            {{'China' | translate}} -->
          </p>
        </div>
      </div>
      <div class="contact-map">
        <a href="https://goo.gl/maps/DGZHANmNa4ZbgQaZ6"
          ><img src="/assets/images/contact-img/Google-map-site.png"
        /></a>
      </div>
    </div>
    <div class="contact-form-content">
      <p class="fisrt-text-info">
        {{'Thank you for your attention. If you have any comments, please feel free to contact us.' | translate}}
      </p>
      <div class="contact-input-group">
        <form class="contact-form-inputs">
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'First Name *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.firstName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="input-group-item">
              <p>{{'Last Name *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.lastName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'E-mail *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.email"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="input-group-item">
              <p>{{'Phone *' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.telephone"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'Company' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.company"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="input-group-item">
              <p>{{'Position' | translate}}</p>
              <input
                type="text"
                [(ngModel)]="contactInfo.position"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="input-group-item">
            <p>{{'Comments *' | translate}}</p>
            <textarea
              rows="10"
              cols="30"
              [(ngModel)]="contactInfo.comments"
              [ngModelOptions]="{ standalone: true }"
            >
            </textarea>
          </div>
          <div class="contact-submit-button">
            <button type="button" (click)="contact()">{{'Contact Us' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
