<div class="contact-wrapper">
  <p class="contact-title-top">{{'Contact Us' | translate}}</p>
  <div class="contact-content">
    <div class="contact-info-content">
      <div class="contact-info-details">
        <div class="title-Tel">
          <p><span>{{'Tel:' | translate}}</span> +86-21-6280-5015</p>
        </div>
        <div class="title-Email">
          <p><span>{{'Email:' | translate}}</span>sales@larixlighting.com</p>
        </div>
        <div class="title-HoursOfOperation">
          <p>
            <span>{{'Hours of Operation:' | translate}}</span> 09:00-18:00 <br />
            ({{'Monday - Friday' | translate}})
          </p>
        </div>
        <div class="title-Address">
          <p>
            <span>{{'Address:' | translate}}</span> {{'Room 204, Block A, No. 303,' | translate}}<br />
            {{'Shangzhong Road, Xuhui District, Shanghai,' | translate}}<br />
            {{'China' | translate}}
          </p>
        </div>
      </div>
      <div class="contact-map">
        <a href="https://goo.gl/maps/fw2kbuL7oyzoRUZb8"
          ><img src="/assets/images/contact-img/Google-map site.jpg"
        /></a>
      </div>
    </div>
    <div class="contact-form-content">
      <p class="fisrt-text-info">
        {{'Thank you for your interest. For questions or comments, please use the
        information listed here. We look forward to hearing from you soon.
        Distributors welcome.' | translate}}
      </p>
      <div class="contact-input-group">
        <form class="contact-form-inputs">
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'First Name *' | translate}}</p>
              <input type="text" name="" />
            </div>
            <div class="input-group-item">
              <p>{{'Last Name *' | translate}}</p>
              <input type="text" name="" />
            </div>
          </div>
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'E-mail address *' | translate}}</p>
              <input type="text" name="" />
            </div>
            <div class="input-group-item">
              <p>{{'Telephone number *' | translate}}</p>
              <input type="text" name="" />
            </div>
          </div>
          <div class="row-group">
            <div class="input-group-item">
              <p>{{'Company' | translate}}</p>
              <input type="text" name="" />
            </div>
            <div class="input-group-item">
              <p>{{'Position' | translate}}</p>
              <input type="text" name="" />
            </div>
          </div>
          <div class="input-group-item">
            <p>{{'Comments *' | translate}}</p>
            <textarea rows="10" cols="30"> </textarea>
          </div>
          <div class="contact-submit-button">
            <button type="button">{{'Contact Us' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
