<div class="footer flex-center">
  <a *ngFor="let menu of menus" [routerLink]="[menu.link]">{{
    menu.label | translate
  }}</a>
  <div class="contact-group">
    <!-- <i class="footer-icon" nz-icon nzType="facebook" nzTheme="outline"></i>
    <i class="footer-icon" nz-icon nzType="instagram" nzTheme="outline"></i>
    <i class="footer-icon" nz-icon nzType="linkedin" nzTheme="outline"></i> -->
    <a class="footer-icon" nz-icon nzTheme="outline" href="http://facebook.com/larixlighting" target="_blank">
      <img src="/assets/images/footer-img/footer-facebook.png">
    </a>
    <a class="footer-icon" nz-icon  nzTheme="outline" href="https://www.instagram.com/larixlighting/" target="_blank">
      <img src="/assets/images/footer-img/footer-ins.png">
    </a>
    <a class="footer-icon" nz-icon  nzTheme="outline" href="https://twitter.com/Judy38542571" target="_blank">
      <img src="/assets/images/footer-img/footer-twitter.png">
    </a>
  </div>
</div>

<!-- <div class="mobile-footer flex-center" *ngIf="isMobile">

</div> -->
