:host {
  height: 100%;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  main {
    flex: 1;
    height: calc(100% - 60px);
    padding-top: 60px;
  }
  @media (max-width: 767.98px) {
    main {
      height: calc(100% - 48px);
      padding-top: 48px;
    }
  }
}

.content {
  min-height: calc(~"100vh - 140px");
}
