<div class="filter-wrapper">
  <div class="param-slider">
    <p>{{'Power' | translate}}</p>
    <app-slider
      [min]="0"
      [max]="300"
      [tooltipStatus]="tooltipStatus"
      (valueChange)="handleValueChange($event, 'power')"
    ></app-slider>
  </div>
  <div class="param-slider">
    <p>{{'Luminous flux' | translate}}</p>
    <app-slider
      [min]="0"
      [max]="35000"
      [tooltipStatus]="tooltipStatus"
      (valueChange)="handleValueChange($event, 'flux')"
    ></app-slider>
  </div>
</div>
