<!-- <app-category-tree
  [categorys]="categorys"
  (selectChange)="handleSelectChange($event)"
  [selectedKey]="initSelected"
></app-category-tree> -->
<!-- <div style="width: 260px;">
  <app-param-filter></app-param-filter>
</div> -->
<!-- <div *ngFor="let product of productList" style="width: 100px;">
  <div class="box">
    <img src="{{ product.picture }}" />
  </div>
  <p class="name">{{ product.name }}</p>
  <p class="param">{{ product.CCT }}</p>
  <p class="param">{{ product.Power }}</p>
</div> -->
<div class="product-layout" [hidden]="!isList">
  <div class="product-wrapper">
    <div class="setting">
      <div class="category">
        <app-category-tree
          #categoryTree
          [categorys]="categorys"
          (selectChange)="handleSelectChange($event)"
          (toggleChange)="handleToggleChange($event)"
          [selectedKey]="initSelected"
          [total]="total"
          [count]="count"
        ></app-category-tree>
      </div>
      <div class="filter" *ngIf="categorys && categorys.length && showFilter">
        <app-param-filter
          (valueChange)="handleFilterChange($event)"
          [tooltipStatus]="tooltipStatus"
        ></app-param-filter>
      </div>
    </div>
    <div class="list-pagination" [hidden]="!showAfterQuery">
      <div class="list">
        <div *ngFor="let product of productList" (click)="toDetail(product.id)">
          <div class="box">
            <img src="{{ product.picture }}" />
          </div>
          <p
            class="name"
            [nzTooltipTitle]="product.name"
            nzTooltipPlacement="top"
            nz-tooltip
          >
            {{ product.name }}
          </p>
          <p
            class="param"
            [nzTooltipTitle]="product.CCT"
            nzTooltipPlacement="top"
            nz-tooltip
          >
            {{ "CCT" | translate }}: {{ product.CCT }}
          </p>
          <p
            class="param"
            [nzTooltipTitle]="product.Power"
            nzTooltipPlacement="top"
            nz-tooltip
          >
            {{ "Power" | translate }}: {{ product.Power }}
          </p>
        </div>
      </div>
      <nz-pagination
        class="product-pagination"
        [nzPageIndex]="pageIndex"
        [nzTotal]="pageTotal"
        [nzPageSize]="pageSize"
        (nzPageIndexChange)="handlePageChange($event)"
      ></nz-pagination>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
