.carousel {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-size: contain;
    }
}
.product-entrance {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 24px auto;
}
.product-wrapper-one {
    width: 468px;
    height: 468px;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    :first-child {
        margin: 16px 0px 4px;
        font-size: 24px;
        color: #000000;
        font-weight: bold;
    }
    :nth-child(2) {
        margin: 0px 0px 4px;
        font-size: 14px;
    }
    a {
        color: #5b7b33; 
        font-size: 14px;
        line-height: 20px;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        margin: 48px auto;
        width: 240px;
        height: 240px;
        background-size: cover;
    }
}
.product-wrapper-two {
    width: 468px;
    height: 468px;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    :first-child {
        margin: 16px 0px 4px;
        font-size: 24px;
        color: #000000;
        font-weight: bold;
    }
    :nth-child(2) {
        margin: 0px 0px 4px;
        font-size: 14px;
    }
    a {
        color: #5b7b33;
        font-size: 14px;
        line-height: 20px;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        margin: 48px auto;
        width: 240px;
        height: 240px;
        background-size: cover;
    }
}
.home-picture-group {
    margin: 24px auto;
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
        width: 222px;
        height: 222px;
        background-size: cover;
    }
}
.home-text-info {
    margin: 48px auto 24px;
    width: 960px;
    display: flex;
    flex-direction: column;
    :first-child {
        text-align: center !important;
        font-size: 20px;
        display: inline-block;
        text-align: justify;
        margin-bottom: 4px;
        color: #000000;
    }
    :nth-child(2){
        text-align: center;
        font-size: 14px;
        display: inline-block;
        text-align: justify;
        margin-bottom: 16px;
    }
}
.divide-line {
    width: 960px;
    height:1px;
    margin: 24px auto;
    background-color: #E5E5E5;
}
.home-contact-info {
    margin: 24px auto;
    width: 960px;
}
.contact-info-details {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
        font-weight: bold;
    }
    p {
        color: #212121;
        display: inline-block;
        padding-left: 28px;
    }
}
.title-Tel,
.title-Email,
.title-HoursOfOperation,
.title-Address {
  position: relative;
}
.title-Tel:before {
  content: "";
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background: url("../../assets/images/contact-img/icon-contact-phone-outline.png")
    no-repeat;
  position: absolute;
  background-size: contain;
}
.title-Email:before {
  content: "";
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background: url("../../assets/images/contact-img/icon-contact-email-outline.png")
    no-repeat;
  position: absolute;
  background-size: contain;
}
.title-HoursOfOperation:before {
  content: "";
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background: url("../../assets/images/contact-img/icon-contact-clock-outline.png")
    no-repeat;
  position: absolute;
  background-size: contain;
}
.title-Address:before {
  content: "";
  background-size: 20px 23px;
  width: 20px;
  height: 23px;
  background: url("../../assets/images/contact-img/icon-contact-address-outline.png")
    no-repeat;
  position: absolute;
  background-size: contain;
}
.home-contact-us {
    text-align: center;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    background-color: #5b7b33;
    :first-child {
        padding: 32px 0px 16px;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0px;
    }
    :nth-child(2) {
        padding-bottom: 0px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
    }
    button {
        margin: 0 auto;
        width: 112px;
        height: 40px;
        color: #5b7b33;
        background-color: #ffffff;
        border: 0px !important;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 16px;
    } 

}
