<div class="home-wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <ng-container *ngIf="!isMobile">
        <ng-container *ngFor="let idx of bannerIdx">
          <div class="swiper-slide">
            <ng-container>
              <img
                style="width: 100%;"
                src="/assets/images/home-img/home-banner-{{ idx }}.jpg"
              />
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isMobile">
        <ng-container *ngFor="let idx of mobileBannerIdx">
          <div class="swiper-slide">
            <ng-container>
              <img
                style="width: 100%;"
                src="/assets/images/home-img/shenghe-banner-mobile-{{
                  idx
                }}.jpg"
              />
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
  </div>
  <div>
    <div class="home-text-info">
      <p>{{ "About us" | translate }}</p>
      <p>
        {{
          "Strong technical development ability and rich development experience, advanced production and quality assurance system and testing equipment enabled us to be the leading enterprise in Zhejiang. We have provided OEM and ODM services for many premium lighting brands (e.g. iGuzzini) in European and American markets by growing together with customers.We always adhere to the specific practice of \"put people first\" and the market orientation of \"customer first\", which helped us to obtain SA8000 certification with strong social responsibilities." | translate
        }}
      </p>
      <img src="/assets/images/home-img/home-aboutus-pic.png" />
    </div>

    <div class="home-product-wrapper">
      <p>{{ "Products" | translate }}</p>
      <div class="product-container">
        <!-- <a class="arrow-left" (click)="pre()">
          <img src="/assets/images/home-img/home-icon-pre.png" />
        </a> -->
        <div>
          <div class="home-product-container">
            <!-- <div class="slider left-{{ productIndex }}"> -->
              <div
                class="home-product-item"
                (click)="switchProduct('Flat Panel')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/Flat Panel.png" />
                </div>
                <p>{{ "Flat Panel" | translate }}</p>
              </div>
              <!-- <div
                class="home-product-item"
                (click)="switchProduct('Garden Light')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/Garden Light.png" />
                </div>
                <p>{{ "Garden Light" | translate }}</p>
              </div> -->
              <div
                class="home-product-item"
                (click)="switchProduct('Wall Light')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/Wall Light.png" />
                </div>
                <p>{{ "Wall Light" | translate }}</p>
              </div>
              <div
                class="home-product-item"
                (click)="switchProduct('High-bay Light')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/High-bay Light.png" />
                </div>
                <p>{{ "High Bay Light" | translate }}</p>
              </div>
              <div
                class="home-product-item"
                (click)="switchProduct('Floodlight')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/Floodlight.jpg" />
                </div>
                <p>{{ "Floodlight" | translate }}</p>
              </div>
              <div
                class="home-product-item"
                (click)="switchProduct('Ceiling Light')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/Ceiling Light.jpg" />
                </div>
                <p>{{ "Ceiling Light" | translate }}</p>
              </div>
              <div
                class="home-product-item"
                (click)="switchProduct('Street Light')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/Street Light.png" />
                </div>
                <p>{{ "Street Light" | translate }}</p>
              </div>
              <div
                class="home-product-item"
                (click)="switchProduct('Tunnel Light')"
              >
                <div class="product-pic">
                  <img src="/assets/images/home-img/Tunnel Light.png" />
                </div>
                <p>{{ "Tunnel Light" | translate }}</p>
              </div>
              <div
                class="home-product-item-empty" style="visibility: hidden"
                (click)="switchProduct('Ceiling Light')"
              >
                <div class="product-pic">
                  <img src="" />
                </div>
                <p></p>
              </div>
              <div
                class="home-product-item-empty " style="visibility: hidden"
                (click)="switchProduct('Ceiling Light')"
              >
                <div class="product-pic">
                  <img src="" />
                </div>
                <p></p>
              </div>
              <div
                class="home-product-item-empty " style="visibility: hidden"
                (click)="switchProduct('Ceiling Light')"
              >
                <div class="product-pic">
                  <img src="" />
                </div>
                <p></p>
              </div>
            <!-- </div> -->
          </div>
        </div>

        <!-- <a class="arrow-right" (click)="next()">
          <img src="/assets/images/home-img/home-icon-next.png" />
        </a> -->
      </div>
      <a (click)="toProducts()">{{ "All Products >" | translate }} </a>
    </div>

    <div class="home-main-content">
      <div class="home-news-info">
        <p class="home-title-news">{{ "News" | translate }}</p>
        <div class="news-group">
          <div
            class="single-news-item"
            *ngFor="let news of newsList"
            (click)="toNewsDetail(news.id)"
          >
            <a class="news-item-pic">
              <img [src]="news.thumbnailUrl" />
            </a>
            <p>{{ news.title }}</p>
            <p>{{ formatTimestamp(news.createTime) }}</p>
          </div>
        </div>
        <a class="more-news" (click)="toNews()"
          >{{ "More News >" | translate }}
        </a>
      </div>
    </div>
  </div>

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzContent]="modalContent"
    (nzOnCancel)="isVisible = false"
    nzClassName="contact-modal"
    [nzFooter]="null"
  >
    <ng-template #modalContent>
      <app-pop-contact></app-pop-contact>
    </ng-template>
  </nz-modal>
</div>
