<div class="home-wrapper">
  <div class="carousel">
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content>
        <img
          [src]="
            isMobile
              ? '/assets/images/home-img/larix-banner-mobile-01.jpg'
              : '/assets/images/home-img/home-banner-01.jpg'
          "
        />
      </div>
      <div nz-carousel-content>
        <img
          [src]="
            isMobile
              ? '/assets/images/home-img/larix-banner-mobile-02.jpg'
              : '/assets/images/home-img/home-banner-02.jpg'
          "
        />
      </div>
      <div nz-carousel-content>
        <img src="/assets/images/home-img/home-banner-03.jpg" />
      </div>
      <div nz-carousel-content>
        <img src="/assets/images/home-img/home-banner-04.jpg" />
      </div>
    </nz-carousel>
  </div>

  <div class="home-text-info">
    <p>{{ "About Us" | translate }}</p>
    <p>
      {{
        "We obtained SA8000 certification with strong technical development ability and rich development experience, advanced production and testing equipment and quality inspection assurance system. We always adhere to the market orientation of ‘customer first’ and the specific practice of ‘people-oriented’. We have provided OEM and ODM services for many premium lighting brands (e.g. RAB, iGuzzini) in European and American markets by growing together with customers."
          | translate
      }}
    </p>
    <img src="/assets/images/home-img/home-aboutus-pic.png" />
  </div>

  <div class="home-product-wrapper">
    <p>{{ "Products" | translate }}</p>
    <div class="product-container">
    <a class="arrow-left" (click)="pre()">
      <img src="/assets/images/home-img/home-icon-pre.png">
    </a>
    <div>
      <div class="home-product-container">
        <div class="slider left-{{ productIndex }}">
          <div class="home-product-item">
            <div class="product-pic">
              <img src="/assets/images/home-img/home-product-01.png" />
            </div>
            <p>LED Flat Panel</p>
          </div>
          <div class="home-product-item">
            <div class="product-pic">
              <img src="/assets/images/home-img/home-product-02.png" />
            </div>
            <p>Garden Light</p>
          </div>
          <div class="home-product-item">
            <div class="product-pic">
              <img src="/assets/images/home-img/home-product-03.png" />
            </div>
            <p>Wall Light</p>
          </div>
          <div class="home-product-item">
            <div class="product-pic">
              <img src="/assets/images/home-img/home-product-05.png" />
            </div>
            <p>LED High Bay Light</p>
          </div>
          <div class="home-product-item">
            <div class="product-pic">
              <img src="/assets/images/home-img/home-product-06.jpg" />
            </div>
            <p>LED FLood Light</p>
          </div>
          <div class="home-product-item">
            <div class="product-pic">
              <img src="/assets/images/home-img/home-product-04.jpg" />
            </div>
            <p>LED Ceiling Light</p>
          </div>
        </div>
      </div>
      <a (click)="(toNews)">{{ "All Products >" | translate }} </a>
    </div>
    <a class="arrow-right" (click)="next()">
      <img src="/assets/images/home-img/home-icon-next.png">
    </a>
  </div>
  </div>

  <div class="home-main-content">
    <div class="home-news-info">
      <p class="home-title-news">{{ "News" | translate }}</p>
      <div class="news-group">
        <div class="single-news-item">
          <a class="news-item-pic">
            <img src="/assets/images/home-img/home-news-pic.png" />
          </a>
          <p>Great News！Wonderful News！</p>
          <p>2019.12.31</p>
        </div>
        <div class="single-news-item">
          <a class="news-item-pic">
            <img src="/assets/images/home-img/home-news-pic.png" />
          </a>
          <p>Great News！Wonderful News！</p>
          <p>2019.12.31</p>
        </div>
        <div class="single-news-item">
          <a class="news-item-pic">
            <img src="/assets/images/home-img/home-news-pic.png" />
          </a>
          <p>Great News！Wonderful News！</p>
          <p>2019.12.31</p>
        </div>
        <div class="single-news-item">
          <a class="news-item-pic">
            <img src="/assets/images/home-img/home-news-pic.png" />
          </a>
          <p>Great News！Wonderful News！</p>
          <p>2019.12.31</p>
        </div>
      </div>
      <a class="more-news" (click)="(toNews)"
        >{{ "More News >" | translate }}
      </a>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzContent]="modalContent"
  (nzOnCancel)="isVisible = false"
  nzClassName="contact-modal"
  [nzFooter]="null"
>
  <ng-template #modalContent>
    <app-pop-contact></app-pop-contact>
  </ng-template>
</nz-modal>
