<div class="pop-contact">
  <div class="contact-form-content">
    <p>
      {{
        "Thank you for your interest. For questions or comments, please use the
      information listed here. We look forward to hearing from you soon.
      Distributors welcome."
          | translate
      }}
    </p>
    <div class="contact-input-group">
      <form class="contact-form-inputs">
        <div class="row-group">
          <div class="input-group-item">
            <p>{{ "First Name *" | translate }}</p>
            <input
              type="text"
              [(ngModel)]="contactInfo.firstName"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="input-group-item">
            <p>{{ "Last Name *" | translate }}</p>
            <input
              type="text"
              [(ngModel)]="contactInfo.lastName"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="row-group">
          <div class="input-group-item">
            <p>{{ "E-mail *" | translate }}</p>
            <input
              type="text"
              [(ngModel)]="contactInfo.email"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="input-group-item">
            <p>{{ "Phone *" | translate }}</p>
            <input
              type="text"
              [(ngModel)]="contactInfo.telephone"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="row-group">
          <div class="input-group-item">
            <p>{{ "Company" | translate }}</p>
            <input
              type="text"
              [(ngModel)]="contactInfo.company"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="input-group-item">
            <p>{{ "Position" | translate }}</p>
            <input
              type="text"
              [(ngModel)]="contactInfo.position"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="input-group-item">
          <p>{{ "Comments *" | translate }}</p>
          <textarea
            rows="10"
            cols="30"
            [(ngModel)]="contactInfo.comments"
            [ngModelOptions]="{ standalone: true }"
          >
          </textarea>
        </div>
        <div class="contact-submit-button">
          <button type="button" (click)="contact()">
            {{ "Contact Us" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
