<div class="slider-wrapper">
  <nz-slider
    [nzMin]="min"
    [nzMax]="max"
    nzRange
    [nzTipFormatter]="formatter"
    [(ngModel)]="value"
    [nzTooltipVisible]="tooltipStatus"
    nzTooltipPlacement="top"
    (ngModelChange)="handleValueChange($event)"
  ></nz-slider>
  <div class="mark">
    <span
      *ngFor="let division of divisionArr; let i = index"
      [ngClass]="{ longer: i % 5 === 0 }"
    ></span>
  </div>
  <div class="mark-number">
    <span class="start">{{ localeStr(min) }}</span>
    <span class="median">{{ localeStr(median(min, max)) }}</span>
    <span class="end">{{ localeStr(max) }}</span>
  </div>
</div>
